p{
    color: red;
}

#tableDiv{
    /*border: 3px solid green;*/
    margin: 3vh;
    margin-top: 10vh !important;
}

td{
    height: 12vh;
    
}

#headerDiv{
    text-align: center;
    padding: 2vh;
    /*border: 1px solid red;*/
}

#headerDiv button{
    text-align: center;
    margin-bottom: 3vh;
}

h2{
    text-align: center;
    display: inline;
}

.dateLinks:hover{
    text-decoration: none;
}

.dateLinks{
    display: inline-block;
    /*height: 100%;*/
    /*width: 100%;*/
    padding-left: 0;
    padding-right: 90%;
    padding-bottom:50%;
    background-color: transparent;
    text-align: left;
    border: none;
}